<div class="">
  <div class="">
    <div class="">
      <h2 class="">Hello Boss</h2>
    </div>
  </div>
</div>  
{% schema %}
{
  "name": "New Section v2",
  "settings": [],
  "presets": [
    {
      "name": "New Section v2"  
    }
  ]
}
{% endschema %}
